{% use "bootstrap_3_layout.html.twig" %}

{%- block password_widget -%}
    {{ block('password_css') }}
    <div class="input-group">
        {%- set type = type|default('password') -%}
        {{ block('form_widget_simple') }}
        <span class="input-group-addon" id="eyes-{{ id }}"><i class="bi bi-eye-slash" id="eye-icon-{{ id }}"></i></span>
    </div>
    {{ block('password_javascript') }}
{%- endblock password_widget -%}

{%- block widget_attributes -%}
    aria-describedby="eyes-{{ id }}" 
    {{- parent() -}}
{%- endblock widget_attributes -%}

{%- block password_css -%}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/bootstrap-icons.css')}}" />
{%- endblock password_css -%}

{%- block password_javascript -%}
    <script>
        const togglePassword = document.querySelector("#eye-icon-{{ id }}");
        const password = document.querySelector("#{{ id }}");

        togglePassword.addEventListener("click", function () {
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });
    </script>
{%- endblock password_javascript -%}