{% use "@User/form/base_password_layout.html.twig" %}

{%- block password_widget -%}
    {{ block('password_css') }}
    <div class="input-group">
        {%- set type = type|default('password') -%}
        {{ block('form_widget_simple') }}
        <div class="input-group-append">
            <span class="input-group-text" id="eyes-{{ id }}">
                <i class="bi bi-eye-slash" id="eye-icon-{{ id }}"></i>
            </span>
        </div>
    </div>
    {{ block('password_javascript') }}
{%- endblock password_widget -%}