{% use "@User/form/base_password_layout.html.twig" %}

{%- block password_widget -%}
    {{ block('password_css') }}
    <div class="input-group">
        {%- set type = type|default('password') -%}
        {{ block('form_widget_simple') }}
        <span class="input-group-addon" id="eyes-{{ id }}"><i class="bi bi-eye-slash" id="eye-icon-{{ id }}"></i></span>
    </div>
    {{ block('password_javascript') }}
{%- endblock password_widget -%}
