{% extends 'base.html.twig' %}

{% block title %}{{ title|trans }} {% endblock %}

{% block body %}
    
    {{ form_start(form) }}
    
    {{ form_widget(form) }}
    
    <button type="submit" class="btn btn-success" id="submit"><i class="fa fa-save"></i> <span id="submit_label">{{ 'save'|trans }}</span></button>
    
    {{ form_end(form) }}
{% endblock %}