{% extends '@User/security/base.html.twig' %}

{% block title %}{{ title|trans }} {% endblock %}

{% block titlePage %}{{title|trans}}{% endblock %}

{% block body %}
    
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success pull-left" id="submit"><i class="fa fa-save"></i> <span id="submit_label">{{ 'save'|trans }}</span></button>
    <a href="{{ path(back_path) }}" class="btn btn-primary pull-right">{{ 'back_to_home'|trans }}</a>
    {{ form_end(form) }}
            
{% endblock %}
