{% extends '@User/security/base.html.twig' %}

{% block title %}{{ 'login_page'|trans }}{% endblock %}

{% block titlePage %}{{'login_page'|trans}}{% endblock %}

{% block body %}
    
        <p style="text-align: center">&nbsp;</p>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% include '@User/security/_flashes.twig' %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a>
            </div>
        {% endif %}
        
        {{ form_start(form) }}
            
            <div class="form-group has-feedback">
                {{ form_widget(form.username, {attr: {class: "form-control", placeholder: "username"|trans, required:true, autofocus:true }}) }}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.password, {attr: {class: "form-control", placeholder: "password"|trans }}) }}
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form_widget(form.captcha, {attr: {class: "form-control", placeholder: "captcha"|trans }}) }}
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <!--<div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>-->
                </div>

                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'login'|trans }}</button>
                </div>
            </div>
        {{ form_end(form) }}
            
{% endblock %}
